*.png
*.json
*.txt
*.xml
*.exe
*.gif
*.html
*.jpg
*.log
*.iml
*.ttf
*.ai
*.bat
*.pyc
/ext/mtb-old.py
/ext/test.py
/ext/test.py
sidebar
.VSCodeCounter/2023-04-09_01-15-57/details.md
.VSCodeCounter/2023-04-09_01-15-57/diff-details.md
.VSCodeCounter/2023-04-09_01-15-57/diff.csv
.VSCodeCounter/2023-04-09_01-15-57/diff.md
.VSCodeCounter/2023-04-09_01-15-57/results.csv
.VSCodeCounter/2023-04-09_01-15-57/results.md
